.header {
    background-color: black;
    font-variant-caps: all-petite-caps;
    color: white;
}

.upper-part {
    display: flex;
}

.bank {
    float: left;
    display: inline-block;
    background-color: whitesmoke;
    margin: 15px;
    

    
}

.work {
    float: left;
    display: inline-block;
    background-color: whitesmoke;
    margin: 15px;
   
}

.laptopsView {
    float: left;
    background-color: whitesmoke;
    margin: 15px;
}

.buyNowView {
    background-color: whitesmoke;
}

img {
    height: 200px;
    width: 200px;
}

button {
    background-color: yellow;
    color: black;
}

.work-btn {
    background-color: blue;
    color: white;

}

.payLoan-btn {
    background-color: palegreen;
    color: black;
}